<%- model_class = SlowLog -%>

<div id="is_closed_flag_update_success" class="alert alert-info" style="display:none">
  <button class="close" data-dismiss="alert">&times;</button>
  <strong>is_stocked flag was updated!</strong>
</div>
<div id="is_closed_flag_update_error" class="alert alert-error" style="display:none">
  <button class="close" data-dismiss="alert">&times;</button>
  <strong>error! is_stocked flag was not updated!</strong>
</div>

<h2>Slow Queries</h2>

<div class="row-fluid">
  <div class="accordion">

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
          Search Options
        </a>
      </div><!-- accordion-heading -->
    </div><!-- accordion-group -->

    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= search_form_for @q, :html => { :class => "form-inline" } do |f| %>

          <h4>Match</h4>
          <%= f.text_field :server_cont, :include_blank => true, :placeholder => 'DB Server HostName' %>
          <%= f.text_field :user_cont, :include_blank => true, :placeholder => 'Execute User' %>
          <%= f.text_field :host_cont, :include_blank => true, :placeholder => 'App Host Ip' %>
          <%= f.text_field :execute_cont, :include_blank => true, :placeholder => 'SQL', :class => "input-xlarge" %>

          <h4>Not Match</h4>
          <%= f.text_field :server_not_in, :include_blank => true, :placeholder => 'DB Server HostName' %>
          <%= f.text_field :user_not_in, :include_blank => true, :placeholder => 'Execute User' %>
          <%= f.text_field :host_not_in, :include_blank => true, :placeholder => 'App Host Ip' %>
          <%= f.text_field :execute_not_in, :include_blank => true, :placeholder => 'SQL', :class => "input-xlarge"%>

          <h4>Execute Time</h4>
          <%= f.text_field :created_at_gteq, :include_blank => true, :class => "datepicker", :placeholder => "From Date" %>
          <%= f.text_field :created_at_lteq, :include_blank => true, :class => "datepicker", :placeholder => "To Date" %>

          <h4>Stocked?</h4>
          <%= f.label :is_stocked_eq, "Yes", :class => "radio" %>
          <%= f.radio_button :is_stocked_eq, true, :checked => @q.is_stocked_eq %>
          <%= f.label :is_stocked_eq, "No", :class => "radio"%>
          <%= f.radio_button :is_stocked_eq, false, :checked => @q.is_stocked_eq %>
          <%= f.label :is_stocked_eq, "Both", :class => "radio" %>
          <%= f.radio_button :is_stocked_eq, nil, :checked => @q.is_stocked_eq %>

          <%= f.submit "Search", :class => "btn btn-warning offset7" %>
        <% end%>
      </div><!-- accordion-inner -->
    </div><!-- collapseOne -->

  </div><!-- accordion -->
</div><!-- row-fluid -->

<%= paginate @slow_logs %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <th><%= model_class.human_attribute_name(:is_stocked) %></th>
      <th><%= model_class.human_attribute_name(:server) %></th>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%= model_class.human_attribute_name(:host) %></th>
      <th><%= model_class.human_attribute_name(:query_time) %></th>
      <th><%= model_class.human_attribute_name(:lock_time) %></th>
      <th><%= model_class.human_attribute_name(:rows_sent) %></th>
      <th><%= model_class.human_attribute_name(:rows_examined) %></th>
      <th><%= model_class.human_attribute_name(:execute) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @slow_logs %>
  </tbody>
</table>

<%= paginate @slow_logs %>
