<%- model_class = SlowLog -%>

<div class="row-fluid">
  <div class="span3">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  </div>

  <div class="span6 offset1">
    <p class="lead">Search For Create Time</p>
    <div class="form-search">
      <%= search_form_for @q do |f| %>
        <%= f.text_field :created_at_gteq, :include_blank => true, :class => "datepicker", :placeholder => "From Date" %> 〜
        <%= f.text_field :created_at_lteq, :include_blank => true, :class => "datepicker", :placeholder => "To Date" %>
        <%= f.submit "Search", :class => "btn btn-warning"%>
      <% end%>
    </div>
  </div>
</div>

<%= paginate @slow_logs %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
      <th><%= model_class.human_attribute_name(:server) %></th>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%= model_class.human_attribute_name(:host) %></th>
      <th><%= model_class.human_attribute_name(:query_time) %></th>
      <th><%= model_class.human_attribute_name(:lock_time) %></th>
      <th><%= model_class.human_attribute_name(:rows_sent) %></th>
      <th><%= model_class.human_attribute_name(:rows_examined) %></th>
      <th><%= model_class.human_attribute_name(:execute) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @slow_logs.each do |slow_log| %>
      <tr>
        <td><%= link_to t('.show', :default => t("helpers.links.show")), slow_log_path(slow_log), :class => 'btn btn-info btn-mini' %></td>
        <td><%= slow_log.server %></td>
        <td><%= slow_log.user %></td>
        <td><%= slow_log.host %></td>
        <td><%= slow_log.query_time %></td>
        <td><%= slow_log.lock_time %></td>
        <td><%= slow_log.rows_sent %></td>
        <td><%= slow_log.rows_examined %></td>
        <td><pre class="prettyprint"><%= slow_log.execute %></pre></td>
        <td><%= slow_log.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @slow_logs %>

